.home-content{
    min-height: 100%;
   
    background: #16bca8;
    /* display: block; */
}
.main-div{
    height: auto;
    margin: 23px 51px 23px 51px;
    width: auto;
    display: flex;
    justify-content: center;
  }
  /* mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-start .{
    width: 378px;
  } */
  mat-card{
    margin: 0 auto;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}

.header{
    text-align: center;
}
.mat-form-field {
    width: 378px !important;
}
button{
    margin-right: 0.5rem!important;;
}